.mui-switch{
			width: 3rem;
			height: 1.4rem;
			position: relative;
			border: 1px solid #8c8c8c;
			background-color: #8c8c8c;
			box-shadow: #8c8c8c 0 0 0 0 inset;
			border-radius: 1rem;
			background-clip: content-box;
			display: inline-block;
			-webkit-appearance:none;
			user-select: none;
			outline: none;

		}
		.mui-switch:before{
			content: '';
			width: 1.4rem;
			height: 1.4rem;
			position: absolute;
			top: 0px;
			left: 0;
			background-color: #fff;
			box-shadow: 0 1px 3px rgba(0,0,0,0.4);
			border-radius: 1.4em;
			}
		.mui-switch:checked:before{
			left: 2em;
		}
		.mui-switch.mui-switch-anim {
	    	/*transition: border cubic-bezier(0, 0, 0, 1) 0.4s, box-shadow cubic-bezier(0, 0, 0, 1) 0.4s;*/
		}
		.mui-switch.mui-switch-anim:before {
		    transition: left 0.3s;
		}
		.mui-switch.mui-switch-anim:checked {
		    background-color: #1e78dc;
		   /* transition: border ease 0.4s, box-shadow ease 0.4s, background-color ease 1.2s;*/
		}
		.mui-switch.mui-switch-anim:checked:before {
		    transition: left 0.3s;
		}